
    <!-- header.html -->
    <div class="header">
        <div class="top-header">
          <div class="container-top">
            <div class="top-row">
              <div class="left-top-header">
                <form action="//www.google.com/cse" class="search-form">
                  <input type="text" name="q" class="text-search" placeholder="Tìm kiếm khóa học, giáo viên">
                  <button type="submit" class="btn-search">🔍</button>
                </form>
              </div>
              <div class="right-top-header">
                <a class="btn-acc btn-login" href="/loginv2">Đăng Nhập</a>
                <a class="btn-acc btn-register" href="/loginv2/signup.php">Đăng Ký</a>
              </div>
            </div>
          </div>
        </div>
        <div class="bot-header">
            <div class="container-bot">
                <div class="row no-mg">
                    <div class="menu">
                        <ul>
                            <li><a target="_blank" href="">Giới thiệu</a></li>
                            <li><a target="_blank" href="">Giáo viên</a></li>
                            <li><a target="_blank" href="">Tự luyện</a></li>
                            <li><a target="_blank" href="">Hướng nghiệp</a></li>
                            <li><a target="_blank" href="">Thư viện</a></li>
                            <li><a target="_blank" href="">Hướng dẫn</a></li>
                            <li><a target="_blank" href="">Đăng ký học</a></li>
                            <li><a target="_blank" href="">Hỗ trợ</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>